*.fasl
*.swp
\#*\#
.\#*
.DS_Store
*~

# The reference doc is built automatically by a bot
docs/reference.md

coverage-report/

benchmarks/benchmarks-game/pidigits

bench.json

# misc local files of no importance
y-ignore/

# auto-created lisp code used by the makefile
zz-temp/
