name: Docs

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      packages: read

    container:
      image: ghcr.io/coalton-lang/sbcl-base
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
      env:
        # Tell ASDF to look through our repo recursively
        # See https://github.com/actions/runner/issues/2058
        CL_SOURCE_REGISTRY: "/__w/coalton/coalton/coalton//"

    steps:
      # Check out coalton and coalton-website
      - uses: actions/checkout@v3
        with:
          repository: "coalton-lang/coalton"
          path: coalton
      - uses: actions/checkout@v3
        with:
          repository: "coalton-lang/coalton-website"
          path: coalton-website

      # Run docs generator targeting website directory
      - name: Run Docs Generator
        run: |
          cat <<EOF > run-docs.lisp
          (defun main (&rest args)
            (ql:quickload :coalton/doc)
            (uiop:symbol-call :coalton-doc :write-stdlib-documentation-to-file
              "/__w/coalton/coalton/coalton-website/content/reference.md" 
              :backend :hugo))
          EOF
          sbcl --noinform --non-interactive --load run-docs.lisp --eval "(main)"

      # Create PR in website repository for changes2
      - uses: peter-evans/create-pull-request@v3
        if: ${{ github.event_name == 'push' && github.ref_type == 'branch' && github.ref_name == 'main' }}
        with:
          token: ${{ secrets.DOCS_PAT }}
          path: coalton-website
          branch: "update-docs/${{ github.sha }}"
          base: main
          author: coalton-docs-bot <coalton-docs-bot@users.noreply.github.com>
          commit-message: "Update Coalton documentation for coalton-lang/coalton@${{ github.sha }}"
          title: "Update Coalton documentation"
          body: |
            Update coalton standard library documentation for coalton-lang/coalton@${{ github.sha }}

            This action was performed automatically.
          delete-branch: true
