name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        COALTON_ENV: ["release", "development"]
        SAFETY: ["1", "3"]

    env:
      # Tell ASDF to look through our repo recursively
      CL_SOURCE_REGISTRY: "/home/runner/work/coalton/coalton//"

    steps:
      - uses: actions/checkout@v2
      - uses: 40ants/setup-lisp@v1
      - name: Run Tests
        env:
          COALTON_ENV: ${{ matrix.COALTON_ENV }}
        run: |
          cat <<EOF > run-tests.lisp
          (sb-ext:restrict-compiler-policy 'safety ${{ matrix.SAFETY }})
          (defun main (&rest args)
            (asdf:test-system :coalton))
          EOF
          qlot exec ros -- run-tests.lisp
